{:deps {quil/quil {:mvn/version "3.1.0"}
        random-seed/random-seed {:mvn/version "1.0.0"}
        org.clojure/spec.alpha {:mvn/version "0.2.194"}
        orchestra/orchestra {:mvn/version "2021.01.01-1"}
        tubular {:mvn/version "1.3.0"}
        ;io.github.Unrepl/unrepl {:git/sha "fa946eef88b0516dab81c8a9b3d8f9fcff06f44b"}}}
        org.clojure/core.async {:mvn/version "1.3.618"}}}
        ;nrepl/nrepl {:mvn/version "0.9.0-beta2"}}}
